<!DOCTYPE html>
<html>
    <head>
        <title>Emoji Cipher 😄</title>
        <meta charset="UTF-8">
        <meta name="description" content="Cipher encoding with emojis">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="emoji,cipher,encryption">
        <meta name="author" content="Alec Bush">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://dl.dropboxusercontent.com/s/r55397ld512etib/EncoderDecoderTogether.min.js?dl=0" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="emojiCipher.js" type="text/javascript"></script>
    </header>
    <body>
        <div id="app">
            <h1>Emoji Cipher 😄</h1>
            <textarea v-model="text" class="form-component" placeholder="text" maxlength="999"></textarea>
            <input v-model="key" class="form-component" type="text" placeholder="key" maxlength="36"/>
            <div class="button-container">
                <button v-on:click="encode" id="encode" class="form-component" type="button">Encode</button>
                <button v-on:click="decode" id="decode" class="form-component" type="button">Decode</button>
            </div>
            <div class="link-container">
                <a href="https://github.com/alecbush/emoji-cipher" target="_blank">github</a>
            </div>
        </div>
        <script src="app.js" type="text/javascript"></script>
    </body>
</html>
